@use 'header';
@use 'paddings';
@use 'typographies';

:host {
  background-color: white;

  header {
    display: flex;
    flex-wrap: wrap;
    padding: header.$vertical-padding paddings.$m;
    justify-content: center;
    font-size: header.$font-size;

    ul {
      display: flex;
      gap: paddings.$xl;
    }
  }
}
