@use 'header';
@use 'paddings';
@use 'page';
@use 'typographies';

:host {
  background-color: white;

  header {
    padding: header.$padding-vertical page.$padding-horizontal;
    justify-content: center;
    font-size: header.$font-size;

    ul {
      display: flex;
      justify-content: space-around;
    }
  }
}
