@use 'typographies';
@use 'animations';
@use 'theme';

@mixin theme {
  // https://css-tricks.com/css-link-hover-effects/#aa-the-growing-background-link-hover-effect
  $color: inherit;
  $hover-color: theme.$accent;
  a,
  .link {
    text-decoration: none;
    color: $color;
    @include typographies.bold;
    position: relative;
  }

  a::before,
  .link::before {
    content: '';
    background-color: $hover-color;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition-property: all;
    @include animations.standard;
  }

  a:hover::before,
  .link:hover::before {
    bottom: 0;
    height: 100%;
  }
}
