@use 'sass:math';

@mixin styles {
  @import '@fontsource/fira-sans/300.css';
  @import '@fontsource/fira-sans/400.css';
  @import '@fontsource/fira-sans/700.css';
}

@mixin body-family {
  font-family: 'Fira Sans', sans-serif;
}

@mixin light {
  font-weight: 300;
}

@mixin regular {
  font-weight: 400; /* normal */
}

@mixin bold {
  font-weight: 700; /* bold */
}

@mixin size($level: 0) {
  font-size: size($level);
}

@function size($level: 0) {
  @return #{math.pow(1.15, $level)}rem;
}
