<h2>
  Look
  <ng-container *ngIf="index !== undefined">
    {{ index }}
  </ng-container>
  <ng-container *ngIf="lookbook.name">"{{ lookbook.name }}"</ng-container>
</h2>
<swiper-container [appSwiper]="swiperOptions" init="false">
  <swiper-slide
    *ngFor="let image of lookbook.images; index as imageIndex"
    [style.aspect-ratio]="image.width / image.height"
  >
    <!-- TODO: a11y -->
    <!-- Keep in sync with breakpoints SCSS. srcset subset from Angular defaults -->
    <img
      [ngSrc]="image.filePath"
      ngSrcset="128w, 256w, 384w, 640w, 750w, 828w, 1080w, 1200w, 1920w"
      sizes="45vw, 33vw"
      [fill]="true"
      [priority]="priority && imageIndex < MAX_SLIDES_PER_VIEW"
      [alt]="image.alt || DEFAULT_IMAGE_ALT"
    />
  </swiper-slide>
</swiper-container>
