@use 'margins';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;
  text-align: center;
  align-items: center;

  app-image-swiper {
    width: 100%;
    //ℹ️ max-width set by component for big screens
  }
}
