@if (images().length) {
  <!-- 👇 Avoid layout shift https://github.com/davidlj95/chrislb/pull/643 -->
  <!--    Applying it to slide would be enough if Swiper.js didn't rewrite their HTML -->
  @let firstImage = images()[0];
  @let aspectRatio = (firstImage.width * slidesPerView()) / firstImage.height;
  <swiper-container
    [appSwiper]="_swiperOptions()"
    appSwiperAutoplayScroll
    init="false"
    [style.aspect-ratio]="fixContainerAspectRatio() ? aspectRatio : undefined"
  >
    @for (image of _imageViewModels(); track image) {
      <!-- 👇 Base layout until Swiper.js initializes -->
      <swiper-slide
        [style.width.%]="100 / slidesPerView()"
        [style.aspect-ratio]="image.width / image.height"
      >
        <!--suppress AngularNgOptimizedImage - Can't use due to auto `auto` sizes -->
        <img
          [src]="image.src"
          [width]="image.width"
          [height]="image.height"
          [alt]="image.alt"
          [srcset]="image.srcset"
          [sizes]="image.sizes"
          [attr.loading]="image.loading"
          [attr.fetchpriority]="image.fetchPriority"
        />
      </swiper-slide>
    }
  </swiper-container>
}
