@if (images().length) {
  <swiper-container [appSwiper]="_swiperOptions()" init="false">
    @for (image of images(); track image; let i = $index) {
      <swiper-slide
        [style.width.%]="100 / slidesPerView()"
        [style.aspect-ratio]="image.width / image.height"
      >
        <img
          [ngSrc]="image.src"
          [width]="image.width"
          [height]="image.height"
          [alt]="image.alt || 'Image'"
          [ngSrcset]="image.breakpoints | toNgSrcSet"
          [sizes]="sizes()"
          [priority]="priority() && i < slidesPerView()"
          [loaderParams]="image | toLoaderParams"
        />
      </swiper-slide>
    }
  </swiper-container>
}
