@use 'logo';
@use 'theme';

swiper-container {
  display: block;
  // 👇 If Swiper.js isn't there it'd display as an horizontal list of slides
  white-space: nowrap;
  // 👇 If scroll, weird blue box appears even after Swiper.js inits
  overflow: hidden;
  // 👇 For portrait images.
  //    Applying it here instead of image/slide so that:
  //     - Can see layout when no images inside
  //     - Slide doesn't overflow container height
  max-height: calc(100vh - #{logo.$height});
}

swiper-slide {
  // 👇 To size a slide. See HTML to see why needs to be sized.
  display: inline-block;
}

img {
  object-fit: contain;
  max-height: 100%;
}

$balanced-luminance-color: theme.$accent;

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  position: absolute; // perf trick 2 avoid layout shifts
  color: $balanced-luminance-color;
}

swiper-container::part(bullet-active),
swiper-container::part(bullet) {
  background-color: $balanced-luminance-color;
}
