@use 'logo';
@use 'theme';

@forward 'swiper/scss';
@forward 'swiper/scss/a11y';
@forward 'swiper/scss/autoplay';
@forward 'swiper/scss/keyboard';
@forward 'swiper/scss/navigation';
@forward 'swiper/scss/pagination';
@forward 'swiper/scss/virtual';

@at-root {
  :root {
    --swiper-theme-color: #{theme.$accent};
  }
}

.swiper-slide {
  // 👇 For portrait images.
  //    Applying it here instead of image so that layout can be seen
  //    when no images inside.
  max-height: calc(100vh - #{logo.$height});
}

img {
  object-fit: contain;
  max-height: 100%;
}
