@use 'breakpoints';
@use 'header';
@use 'logo';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'typographies';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;

  .text-and-images {
    display: flex;
    align-content: flex-start;
    gap: margins.$l;
  }

  $height-header: header.$height;
  $height-logo: logo.$height;
  $height-page-padding: page.$padding-vertical;
  $height-before: calc(
    $height-header + $height-logo + $height-page-padding * 2
  );
  $texts-width-big-screen: 55ch;

  .texts {
    display: flex;
    flex-direction: column;
    width: $texts-width-big-screen;
  }

  app-images-swiper {
    // 👇 Seems swiper needs size set to work fine
    width: calc(100% - $texts-width-big-screen);
    $extra-space: 48px;
    max-height: calc(100vh - $height-before - $extra-space);
  }

  @include breakpoints.until-s {
    .text-and-images {
      flex-wrap: wrap;
      gap: margins.$m;
    }

    .texts {
      width: unset;
      order: 2;
    }

    app-images-swiper {
      width: 100%;
      order: 1;

      $extra-space: 128px;
      max-height: calc(100vh - $height-before - $extra-space);
    }
  }

  .title {
    @include typographies.size(9);
    @include typographies.bold;

    margin-bottom: margins.$xxs;
  }

  .subtitle {
    @include typographies.size(4);
    @include typographies.bold;
  }

  .quote {
    @include typographies.size(1);
    @include typographies.regular;

    margin: margins.$l 0;
  }

  .description {
    @include typographies.light;

    display: flex;
    flex-direction: column;
    gap: margins.$s;

    // Keep line breaks
    white-space: pre-wrap;
  }

  .credits {
    @include typographies.regular;

    display: flex;
    gap: margins.$s;
    justify-content: flex-start;

    .anchor {
      display: inline-block;
    }
  }
}
