<div class="text-and-images">
  <div class="texts">
    <span class="title">
      <a
        *ngIf="_item.hasContent; else title"
        [routerLink]="[PROJECTS_PATH, _item.slug]"
        ><ng-container [ngTemplateOutlet]="title"></ng-container
      ></a>
      <ng-template #title>
        {{ _item.title }}
      </ng-template>
    </span>
    <span class="subtitle">
      {{ _item.subtitle }}
    </span>
    <span class="quote" *ngIf="_item.quote"> "{{ _item.quote }}" </span>
    <div class="description" [innerHtml]="_item.description"></div>
  </div>
  <app-images-swiper
    *ngIf="_item.previewImages && _item.previewImages.length"
    [images]="_item.previewImages"
    sizes="calc(50vw - 16px), 33.33vw"
    [srcSet]="srcSet"
    [priority]="priority"
    [customSwiperOptions]="CUSTOM_SWIPER_OPTIONS"
  ></app-images-swiper>
</div>
<div class="credits" *ngIf="credits && credits.length">
  <ng-container *ngFor="let credit of credits">
    <span *ngIf="credit.author">
      {{ credit.role }}: {{ credit.author.name }}
      <span class="anchor"
        >(<a
          href="https://instagram.com/_u/{{ credit.author.social.instagram }}"
          target="_blank"
          >@{{ credit.author.social.instagram }}</a
        >)</span
      >
    </span>
  </ng-container>
</div>
