@use 'breakpoints';
@use 'header';
@use 'logo';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'typographies';

:host {
  display: flex;
  align-content: flex-start;
  gap: margins.$l;

  $height-header: header.$height;
  $height-logo: logo.$height;
  $height-page-padding: page.$padding-vertical;
  $height-before: calc($height-header + $height-logo + $height-page-padding);
  $texts-width-big-screen: 55ch;

  .texts {
    display: flex;
    flex-direction: column;
    width: $texts-width-big-screen;
  }

  swiper-container {
    // 👇 Seems swiper needs size set to work fine
    width: calc(100% - $texts-width-big-screen);
    $extra-space: 48px;
    max-height: calc(100vh - $height-before - $extra-space);

    swiper-slide {
      img {
        object-fit: contain;
      }
    }
  }

  $balanced-luminance-color: lighten(black, 50%);

  swiper-container::part(button-prev) {
    color: $balanced-luminance-color;
  }

  swiper-container::part(button-next) {
    color: $balanced-luminance-color;
  }

  swiper-container::part(bullet-active) {
    background-color: $balanced-luminance-color;
  }

  swiper-container::part(bullet) {
    background-color: $balanced-luminance-color;
  }

  @include breakpoints.until-s {
    flex-wrap: wrap;
    gap: margins.$m;

    .texts {
      width: unset;
      order: 2;
    }

    swiper-container {
      width: 100%;
      order: 1;

      $extra-space: 128px;
      max-height: calc(100vh - $height-before - $extra-space);
    }
  }

  .title {
    @include typographies.size(9);
    @include typographies.bold;

    margin-bottom: margins.$xxs;
  }

  .subtitle {
    @include typographies.size(4);
    @include typographies.bold;
  }

  .quote {
    @include typographies.size(1);
    @include typographies.regular;

    margin: margins.$l 0;
  }

  .description {
    @include typographies.size(1);
    @include typographies.light;

    display: flex;
    flex-direction: column;
    gap: margins.$s;
  }

  .credits {
    @include typographies.regular;

    display: flex;
    flex-direction: column;
    gap: margins.$xs;

    margin-top: margins.$l;
  }
}
