<div class="text-and-images">
  <div class="texts">
    <span class="title">
      @if (_item.hasContent) {
        <a [routerLink]="[PROJECTS_PATH, _item.slug]"
          ><ng-container [ngTemplateOutlet]="title"></ng-container
        ></a>
      } @else {
        {{ _item.title }}
      }
      <ng-template #title>
        {{ _item.title }}
      </ng-template>
    </span>
    <span class="subtitle">
      {{ _item.subtitle }}
    </span>
    @if (_item.quote) {
      <span class="quote"> "{{ _item.quote }}" </span>
    }
    <div class="description" [innerHtml]="_item.description"></div>
  </div>
  @if (_item.previewImages && _item.previewImages.length) {
    <app-images-swiper
      [images]="_item.previewImages"
      [responsiveImageAttributes]="responsiveImageAttributes"
      [priority]="priority"
      [customSwiperOptions]="CUSTOM_SWIPER_OPTIONS"
    ></app-images-swiper>
  }
</div>
@if (credits && credits.length) {
  <div class="credits">
    @for (credit of credits; track credit) {
      @if (credit.author) {
        <span>
          {{ credit.role }}: {{ credit.author.name }}
          @if (credit.social) {
            <span class="anchor"
              >(<a [href]="credit.social.url" target="_blank"
                >&#64;{{ credit.social.username }}</a
              >)</span
            >
          }
        </span>
      }
    }
  </div>
}
