<div class="text-and-images">
  <div class="texts">
    <span class="title">
      @if (item().hasContent) {
        <a [routerLink]="[PROJECTS_PATH, item().slug]"
          ><ng-container [ngTemplateOutlet]="title"></ng-container
        ></a>
      } @else {
        {{ item().title }}
      }
      <ng-template #title>
        {{ item().title }}
      </ng-template>
    </span>
    <span class="subtitle">
      {{ item().subtitle }}
    </span>
    @if (item().quote) {
      <span class="quote"> "{{ item().quote }}" </span>
    }
    <div class="description" [innerHtml]="item().description"></div>
  </div>
  @let previewImages = item().previewImages;
  @if (previewImages && previewImages.length) {
    <app-images-swiper
      [images]="previewImages"
      [responsiveImageAttributes]="responsiveImageAttributes"
      [priority]="priority()"
      [customSwiperOptions]="CUSTOM_SWIPER_OPTIONS"
    ></app-images-swiper>
  }
</div>
@if (credits().length) {
  <div class="credits">
    @for (credit of credits(); track credit) {
      @if (credit.author) {
        <span>
          {{ credit.role }}: {{ credit.author.name }}
          @if (credit.social) {
            <span class="anchor"
              >(<a [href]="credit.social.url" target="_blank"
                >&#64;{{ credit.social.username }}</a
              >)</span
            >
          }
        </span>
      }
    }
  </div>
}
