@use 'breakpoints';
@use 'page';
@use 'typographies';
@use 'margins';
@use 'content';

:host {
  display: flex;
  flex-direction: column;
  @include page.padding;
  gap: margins.$m;
  align-items: center;

  .links {
    display: flex;
    flex-wrap: wrap;
    gap: margins.$m;
    place-content: center;
    align-items: center;
  }

  h1 {
    @include typographies.size(7);
    @include typographies.bold;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: margins.$m;
    max-width: 35vw;

    @include breakpoints.s {
      max-width: 60vw;
    }

    @include breakpoints.xs {
      max-width: 75vw;
    }
  }

  p {
    white-space: pre-wrap;
  }

  img {
    object-fit: contain;
    object-position: top;
  }
}
