<h1>{{ _title }}</h1>
<div class="links">
  <app-social></app-social>
  <app-resume></app-resume>
</div>
<p class="link">{{ _emailLocalPart }}&#64;{{ _domainName }}</p>
<article>
  @if (_portrait) {
    <img
      [ngSrc]="_portrait.src"
      [height]="_portrait.height"
      [width]="_portrait.width"
      [alt]="_portrait.alt"
      [ngSrcset]="_portrait.breakpoints | toNgSrcSet"
      [sizes]="_portrait.sizes"
      [loaderParams]="_portrait | toLoaderParams"
      priority="true"
    />
  }
  <p>{{ _text }}</p>
</article>
