@use 'breakpoints';
@use 'logo';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'typographies';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;
}

.text-and-images {
  display: flex;
  align-content: flex-start;
  gap: margins.$l;
}

.texts {
  display: flex;
  flex-direction: column;
  flex: 1 0 50ch;
}

app-images-swiper {
  // 👇 Needed for Swiper.js to properly calculate width in a flex container
  //    https://github.com/nolimits4web/swiper/issues/2361#issuecomment-348208353
  min-width: 0;
  width: 100%;
}

@include breakpoints.until(breakpoints.$m) {
  .text-and-images {
    flex-wrap: wrap;
    gap: margins.$m;
  }

  .texts {
    order: 2;
    flex-shrink: 1;
  }

  // 👇 Keep in sync with component responsive images
  app-images-swiper {
    order: 1;
  }
}

.title {
  @include typographies.size(8);
  @include typographies.bold;

  margin-bottom: margins.$xxs;
}

.subtitle {
  @include typographies.size(4);
  @include typographies.bold;

  margin-bottom: margins.$l;
}

.quote {
  @include typographies.size(1);
  @include typographies.regular;

  margin-bottom: margins.$l;
}

.description {
  @include typographies.light;

  // Keep line breaks
  white-space: pre-wrap;
}

.credits {
  @include typographies.regular;

  display: flex;
  flex-wrap: wrap;
  gap: margins.$s;
  justify-content: flex-start;

  .anchor {
    display: inline-block;
  }
}
