@use 'breakpoints';
@use 'logo';
@use 'margins';
@use 'paddings';
@use 'page';
@use 'typographies';

:host {
  display: flex;
  flex-direction: column;
  gap: margins.$m;
}

.text-and-images {
  display: flex;
  align-content: flex-start;
  gap: margins.$l;
}

$texts-width-big-screen: 400px; // ~50ch
.texts {
  display: flex;
  flex-direction: column;
}

app-images-swiper {
  // 👇 Keep in sync with component responsive images
  // 👇 Seems Swiper.js needs size set to work fine
  width: calc(
    100vw - $texts-width-big-screen - #{(page.$padding-horizontal * 2)}
  );
}

@include breakpoints.until(breakpoints.$m) {
  .text-and-images {
    flex-wrap: wrap;
    gap: margins.$m;
  }

  .texts {
    order: 2;
    max-width: unset;
  }

  // 👇 Keep in sync with component responsive images
  app-images-swiper {
    width: 100%;
    order: 1;
  }
}

.title {
  @include typographies.size(8);
  @include typographies.bold;

  margin-bottom: margins.$xxs;
}

.subtitle {
  @include typographies.size(4);
  @include typographies.bold;

  margin-bottom: margins.$l;
}

.quote {
  @include typographies.size(1);
  @include typographies.regular;

  margin-bottom: margins.$l;
}

.description {
  @include typographies.light;

  // Keep line breaks
  white-space: pre-wrap;
}

.credits {
  @include typographies.regular;

  display: flex;
  flex-wrap: wrap;
  gap: margins.$s;
  justify-content: flex-start;

  .anchor {
    display: inline-block;
  }
}
