@use 'breakpoints';
@use 'page';
@use 'margins';

:host {
  display: flex;
  flex-direction: column;
  @include page.padding;
  gap: margins.$m;

  .videos {
    display: flex;
    flex-direction: column;
    gap: margins.$m;
    place-content: center;
    align-items: center;

    iframe {
      max-width: 100%;
    }
  }

  h2 {
    text-align: center;
  }

  .lookbooks {
    display: flex;
    flex-direction: column;
    gap: margins.$m;

    .lookbook {
      display: flex;
      flex-direction: column;
      gap: margins.$m;
      align-items: center;

      > * {
        width: 100%;
        //ℹ️ max-width set by component for big screens
      }
    }
  }

  .material-and-book {
    display: flex;
    $margin: margins.$m;
    gap: $margin;
    max-width: 100%;
    justify-content: center;

    > * {
      width: calc((100% - $margin) / 2);
    }

    @include breakpoints.until-s {
      flex-direction: column;

      > * {
        width: 100%;
      }
    }
  }
}
