<ng-container *ngIf="data$ | async as data">
  <div class="videos" *ngIf="youtubeIframeUrl">
    <h2>Videos</h2>
    <iframe
      width="560"
      height="315"
      [attr.src]="youtubeIframeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
  <div class="lookbooks" *ngIf="data.lookbooks?.length">
    <div
      class="lookbook"
      *ngFor="let lookbook of data.lookbooks; index as index"
    >
      <h2>
        Look {{ index + 1 }}
        <ng-container *ngIf="lookbook.name">"{{ lookbook.name }}"</ng-container>
      </h2>
      <app-images-swiper
        [images]="lookbook.images"
        [srcSet]="FULL_SCREEN_SWIPER.srcSet"
        [sizes]="FULL_SCREEN_SWIPER.sizes"
        [customSwiperOptions]="FULL_SCREEN_SWIPER.customSwiperOptions"
        [style.max-width]="FULL_SCREEN_SWIPER_MAX_WIDTH + 'px'"
        [priority]="index < MAX_SWIPERS_PER_VIEWPORT"
      ></app-images-swiper>
    </div>
  </div>
  <div
    class="material-and-book"
    *ngIf="data.techMaterialImages?.length || data.designBookImages?.length"
  >
    <div
      class="tech-material"
      *ngIf="data.techMaterialImages && data.techMaterialImages.length"
    >
      <h2>Tech material</h2>
      <app-images-swiper
        [images]="data.techMaterialImages"
        [srcSet]="HALF_SCREEN_SWIPER.srcSet"
        [sizes]="HALF_SCREEN_SWIPER.sizes"
        [customSwiperOptions]="HALF_SCREEN_SWIPER.customSwiperOptions"
      ></app-images-swiper>
    </div>
    <div
      class="design-book"
      *ngIf="data.designBookImages && data.designBookImages.length"
    >
      <h2>Design book</h2>
      <app-images-swiper
        [images]="data.designBookImages"
        [srcSet]="HALF_SCREEN_SWIPER.srcSet"
        [sizes]="HALF_SCREEN_SWIPER.sizes"
        [customSwiperOptions]="HALF_SCREEN_SWIPER.customSwiperOptions"
      ></app-images-swiper>
    </div>
  </div>
  <div
    class="concept-images"
    *ngIf="data.conceptImages && data.conceptImages.length"
  >
    <h2>Concept images</h2>
    <app-images-swiper
      [images]="data.conceptImages"
      [srcSet]="FULL_SCREEN_SWIPER.srcSet"
      [sizes]="FULL_SCREEN_SWIPER.sizes"
      [customSwiperOptions]="FULL_SCREEN_SWIPER.customSwiperOptions"
      [style.max-width]="FULL_SCREEN_SWIPER_MAX_WIDTH + 'px'"
    ></app-images-swiper>
  </div>
</ng-container>
