@use 'breakpoints';
@use 'logo';
@use 'page';
@use 'margins';
@use 'paddings';
@use 'theme';

:host {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;

  background-color: theme.$background;

  display: flex;
  justify-content: center;

  padding: logo.$padding-vertical page.$padding-horizontal;
}

img {
  max-height: logo.$height-image;
  width: auto;
}
