@use 'breakpoints';
@use 'header';
@use 'logo';
@use 'margins';
@use 'paddings';
@use 'typographies';

:host {
  padding: paddings.$m;
  display: flex;
  align-content: flex-start;
  gap: margins.$l;

  $headerHeight: header.$height;
  $logoHeight: logo.$height;
  $textsWidthBigScreen: 61ch;

  .texts {
    display: flex;
    flex-direction: column;
    width: $textsWidthBigScreen;
  }

  swiper-container {
    // 👇 Seems swiper needs size set to work fine
    width: calc(100% - $textsWidthBigScreen);
    $extraSpace: 48px;
    max-height: calc(100vh - $headerHeight - $logoHeight - $extraSpace);

    swiper-slide {
      img {
        object-fit: contain;
      }
    }
  }

  @include breakpoints.until-s {
    flex-wrap: wrap;
    gap: margins.$m;

    .texts {
      width: unset;
      order: 2;
    }

    swiper-container {
      width: 100%;
      order: 1;

      $extraSpace: 128px;
      max-height: calc(100vh - $headerHeight - $logoHeight - $extraSpace);
    }
  }

  .title {
    @include typographies.font-size(9);
    margin-bottom: margins.$xxs;
    font-weight: bold;
  }

  .subtitle {
    @include typographies.font-size(4);
    font-weight: bold;
  }

  .quote {
    margin: margins.$l 0;
    font-weight: 400;
    @include typographies.font-size(1);
  }

  .description {
    font-weight: 300;
    @include typographies.font-size(1);

    display: flex;
    flex-direction: column;
    gap: margins.$s;
  }

  .credits {
    margin-top: margins.$l;
    display: flex;
    flex-direction: column;
    gap: margins.$xs;
    font-weight: 400;
  }
}
