@use 'typographies';

// CSS reset & normalization
@import 'gardevoir/dist/mini.min.css';

html {
  scroll-behavior: smooth;
}

body {
  // Do not allow scroll "bounce" effect
  overscroll-behavior: none;
  font-family: 'Fira Sans', sans-serif;
}
