@use 'breakpoints';
@use 'margins';
@use 'paddings';

:host {
  display: flex;
  flex-direction: column;

  app-header {
  }

  .logo {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    margin-left: margins.$m;
    margin-right: margins.$m;

    img {
      max-height: 100px;
      width: auto;
    }

    padding: paddings.$m 0;
    margin-bottom: margins.$xl;

    @include breakpoints.xs {
      margin-bottom: margins.$m;
    }
  }
}
