@let youtubePlaylistUrl = _youtubePlaylistUrl();
@if (youtubePlaylistUrl) {
  <div class="assets">
    <!-- TODO: unhardcode this -->
    <h2>Videos</h2>
    <iframe
      width="560"
      height="315"
      [attr.src]="youtubePlaylistUrl | sanitizeResourceUrl"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </div>
}
@for (album of _albums(); track album; let index = $index) {
  <div class="assets" [class.half]="album.size === 'half'">
    <h2>{{ album.title }}</h2>
    <app-images-swiper
      [images]="album.images"
      [responsiveImageAttributes]="album.swiper.attributes"
      [customSwiperOptions]="album.swiper.options"
      [style.max-width.px]="album.swiper.maxWidth?.value"
      [priority]="index < _maxSwipersPerViewport"
    ></app-images-swiper>
  </div>
}
