name: Performance
on:
  workflow_call:
    secrets:
      LHCI_GITHUB_APP_TOKEN:
        required: true

jobs:
  lhci:
    name: Lighthouse CI
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Download built app
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: build
      - name: Run Lighthouse CI
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
          # Needed for status checks to appear on PR
          # https://github.com/GoogleChrome/lighthouse-ci/issues/859#issuecomment-1574205125
          LHCI_BUILD_CONTEXT__CURRENT_HASH: ${{ github.event.pull_request.head.sha || github.sha }}
        run: pnpm run test:app:lighthouse
