name: Test
on:
  workflow_call:

jobs:
  app-unit:
    name: App's unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Generate mock data
        run: cd .ci && make mock-data
      - name: Run unit tests
        run: cd .ci && make unit-test

  scripts-tsc:
    name: Scripts' Typescript compilation
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Generate mock data
        run: cd .ci && make mock-data
      - name: Compile scripts
        run: pnpm run test:scripts:tsc

  scripts-unit:
    name: Scripts' unit tests
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run scripts tests
        run: pnpm run test:scripts:unit
